.game-container {
  width: 100%;
  height: 290px;
  position: relative;
  overflow: hidden;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0;
}

button, input {
  margin-top: 10px;
}
