@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1536px 0; }
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1536px 0; }
}

@keyframes start {
    from { left: 158px; }
    to { left: -1378px ; }
}

@-webkit-keyframes start {
    from { left: 158px; }
    to { left: -1378px ; }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(2px, 3px, 0) rotate(2deg);
    }
    
    20%, 80% {
      transform: translate3d(-2px, -3px, 0) rotate(-2deg);
    }
  
    30%, 50%, 70% {
      transform: translate3d(3px, 2px, 0) rotate(3deg);
    }
  
    40%, 60% {
      transform: translate3d(-3px, -2px, 0) rotate(-3deg);
    }
  }

@-webkit-keyframes shake {
    10%, 90% {
        transform: translate3d(2px, 3px, 0) rotate(2deg);
    }
    
    20%, 80% {
        transform: translate3d(-2px, -3px, 0) rotate(-2deg);
    }

    30%, 50%, 70% {
        transform: translate3d(3px, 2px, 0) rotate(3deg);
    }

    40%, 60% {
        transform: translate3d(-3px, -2px, 0) rotate(-3deg);
    }
}

@keyframes fall {
    25% {
      transform: translate3d(0px, 0, 0);
    }
    100% {
      transform: translate3d(-1000px, 0, 0);
    }
}

@-webkit-keyframes fall {
    25% {
      transform: translate3d(0px, 0, 0);
    }
    100% {
      transform: translate3d(-1000px, 0, 0);
    }
}

@keyframes fall_effect {
    0% {
        transform: scale(0)
    }
    15% {
      transform: scale(1.1);
    }
    25% {
      transform: scale(1);
      opacity: 1;
    }
    90% {
      opacity: 0;
      transform: scale(0.9) translate3d(-1000px, 0, 0);
    }
}

@-webkit-keyframes fall_effect {
    0% {
        transform: scale(0)
    }
    20% {
      transform: scale(1.1);
    }
    30% {
      transform: scale(1);
      opacity: 1;
    }
    90% {
      opacity: 0;
      transform: scale(0.9) translate3d(-1000px, 0, 0);
    }
}